.buyNow-page {
  background-color: rgb(15 23 42);
}
.buyNow-page-details {
  display: flex;
  color: white;
  gap: 2rem;
  padding: 2rem 0;
}
.buyNow-page-details > div {
  flex: 0.5;
}
.buyNow-page p {
  color: rgb(148 163 184);
}
.nft {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.details {
  background-color: rgb(30 41 59);
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}
.contract {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price-text {
  font-weight: 500;
  font-size: 1.2rem;
}
.button {
  all: unset;
  background-color: rgb(124 58 237);
  padding: 0.5rem 1.25rem;
  font-size: 1.3rem;
  border-radius: 30px;
}
.right-box > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.buttonTop {
  align-self: center;
}
/* .buttonTop {
  position: absolute;
  top: 120px;
  right: 60px;
} */
@media (width <800px) {
  .buyNow-page-details {
    padding: 2rem;
  }
}
@media (width < 600px) {
  .buyNow-page-details {
    flex-direction: column;
  }
}
