.explore-page {
  background-color: rgb(15 23 42);
  min-height: 100vh;
}
.explore-page {
  color: white;
}
.box > h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  position: relative;
}
@media (width < 300px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
