body {
  margin: 0;
  padding: 0;
  background: rgb(15 23 42);
  position: relative;
  font-family: Urbanist, sans-serif !important;
}
.center-focus {
  content: "";
  --tw-gradient-from: rgb(220 38 38 / 0.4) !important;
  --tw-gradient-to: rgb(124 58 237 / 0.4) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
  position: fixed;
  width: 50%;
  height: 500px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  filter: blur(200px);
  z-index: -1;
  background-image: linear-gradient(
    to top left,
    var(--tw-gradient-stops)
  ) !important;
}
.page {
  padding-bottom: 3rem;
  color: white;
  transition: all 0.2s ease-in-out;
}
.page-content {
  margin-top: 1rem;
  padding: 0 5rem 3rem 5rem;
}
.wallet-connect {
  all: unset;
  background-color: white;
  padding: 0.5rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: rgb(15 23 42);
  border: 1px solid;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  width: fit-content; */
}
.wallet-disconnect {
  all: unset;
  background-color: rgb(124 58 237);
  padding: 0.5rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (width < 900px) {
  .page-content {
    padding: 0 2rem;
  }
}
@media (width < 700px) {
  .page-content {
    padding: 0 1rem;
  }
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
