.intro {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 10rem 0;
  color: white;
  text-align: center;
}
.intro > h1 {
  font-size: 3.75rem;
  margin: 0;
}
.text-bg {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to left, #dc2626, #7c3aed);
}
.font-big {
  font-size: 5.5rem;
}
.intro > p {
  color: rgb(255 255 255 / 0.7);
  font-size: 1.3rem;
}
.explore-button {
  all: unset;
  background-color: rgb(124 58 237);
  padding: 0.5rem 1.25rem;
  font-size: 1.3rem;
  border-radius: 30px;
  cursor: pointer;
}
